$text-color: #000;
$color-white: #fff;
$nav-bg: rgba(238, 110, 115, 0);
$theme-color: #452bf5;
$color-text: #4f0ef4;
$footer-color: #04091e;
$bg-color: linear-gradient(to right, #4f0ef4 0%, #00b7fb 100%);
$hover-bg-color: linear-gradient(to left, #4f0ef4 0%, #00b7fb 100%);
$footer-color: #04091e;
$section-padding: 80px 0;
